<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>BlackWatch</title>
        <link rel="stylesheet" href="../style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://unpkg.com/vue@2.7.8/dist/vue.js"></script>
    </head>

    <body>
        <div id="app">
            <header>
                <h1 id="header" v-text="sitename"></h1>
            </header>

            <div id="cart">
                <button v-if="showProduct" v-on:click="showCheckout":disabled="cart.length === 0">
                    <!-- The :disabled="cart.length === 0" condition disables the "Checkout" button if the cart array is empty -->
                    {{ cartItemCount }}
                    <i class="fa fa-cart-plus" style="font-size:20px;"></i>
                    Checkout
                </button><!-- add the cart icon -->
                <button v-else v-on:click="showProductPage">
                    <span class="fas fa-cart-plus"></span> Back to Products
                </button>
            </div>
          
            <div v-if="showProduct">
                <div class="topnav">
                    <a href="#about">About</a>
                    <a href="#contact">Contact</a>
                    <input id="searching" type="text" placeholder="Search.." v-model="searchQuery">
                </div>
             
                <div id="sort-buttons">
                    <button @click="toggleDropdown">Sort</button>
                    <div v-if="dropdownVisible" class="dropdown">
                        <button @click="sortProducts('price')">Sort by Price</button>
                        <button @click="sortProducts('alpha')">Sort Alphabetically</button>
                    </div>
                </div>
                <div class="center-wrapper ">
                <div class="products-container">
                <div class="productsStyle" v-for="product in products">
                    <img :src="product.image" alt="product image" id="productImage">
                    <h3>{{ product.title }}</h3>
                    <p>Price: ${{ product.price }}</p>
                    <p>Description: {{ product.description }}</p>
                    <div id="starRating">
                        <span v-for='n in product.rating'>★</span>
                        <span v-for='n in 5 - product.rating'>☆</span>
                    </div>
                    <p>Inventory: {{ product.inventory }}</p>
                    <div v-if="product.inventory > 0">
                        <button id="cartButton" @click="addToCart(product)">Add to Cart</button>
                    </div>
                    <div v-else>
                        <p>Sorry, this product is currently out of stock.</p>
                    </div>
                </div>
                </div>
                </div>
            </div>

            <div v-else>
                <!-- checkout code here -->
                <h1>Checkout</h1>
                <p>
                    <strong>First Name:</strong>
                    <!-- This input field is bound to 'firstName' in the 'order' object -->
                    <input v-model="order.firstName" />
                </p>
                <p>
                    <strong>Last Name:</strong>
                 
                    <input v-model="order.lastName" />
                </p>
                <p>
                    <strong>Phone:</strong> 
                    <input v-model="order.phone" />
                    <span v-if="order.phone && order.phone.length !== 11" style="color:red;">Phone must be 11 digits.</span>
                  </p>
                <p>
                    <strong>Email:</strong>
                  
                    <input v-model="order.email" />
                </p>
                <p>
                    <strong>Address:</strong> <input v-model="order.address" />
                </p>
                <p>
                    <strong>City:</strong> <input v-model="order.city" />
                </p>
                <p>
                    <strong>State:</strong> <input v-model="order.state" />
                </p>
                <p>
                    <strong>Zip:</strong> <input v-model="order.zip" />
                </p>
                

                <h2>Order Information</h2>
                <p>First Name: {{order.firstName}}</p>
                <p>Last Name: {{order.lastName}}</p>
                <p>Address: {{order.address}}</p>
                <p>City: {{order.city}}</p>
                <p>Email: {{order.email}}</p>
                <p>zip:{{order.zip}}</p>
                <p>state:{{order.state}}</p>

                <h2>Cart Items</h2>
                <ul>
                   <li v-for="item in cart" :key="item.id">
                      {{ item.name }} - Quantity: {{ item.quantity }} - Price: ${{ item.price }} each
                      <button @click="removeFromCart(item)">Remove</button>
                   </li>
                </ul>
                <p>
                    <strong>Total Price:</strong> ${{ totalPrice}}
                </p>
                <button id="purchase" @click="purchase">Pay</button>
                <p>Thank you for shopping with us!</p>
            </div>
        </div>

        <!-- <script src="myScript.js"></script>  -->
        <script src="script.js"></script>
    </body>
    </html>